<div class="jumbotron">
    <label>Name</label><input id="name_" /><br />
    <label>Length</label><input id="length" /><label>Feet</label><br />
    <button onclick="btn_clk(name_, length_)">Calculate speed</button><br />
    <label>Hull Speed</label><input /><label>Knots</label><br />
</div>